/*================================================================
    Estilos para el front-oficce
================================================================*/

#header #languages_block_top{
    position: absolute;
    right: 0;
    top: 0;
}