/config/
/config/settings.inc.php
/config/config.inc.php
/config/defines.inc.php
/config/index.php
/config/smarty.config.inc.php
/admin21/backups/
/admin21/export/category/
/tools/
/tools/smarty/
/download/
/img/
/img/p/
/img/c/
/img/m/
/img/tmp/
/files/
/files/categories/
/files/mamufacturers/
/files/products/
/files/attachments/